// Unit
$sub-unit: 4px;
$unit: 8px;
$tap-size: 20px;

// Container max-width.
$max-width: 1024px;

// Typography
$font-family: 'Lato', 'Arial', 'Helvetica';

// Colors
$neutral-00: #fff;
$neutral-10: #ccc;
$neutral-20: #000;
$neutral-30: #005d80;
